a {
    color: #0d5e95;
}

a.active {
    color: coral;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-size: 90%;
    font-weight: normal;
    vertical-align: bottom;
    line-height: 1;
    text-align: left;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
